Repository oneapi-src/oneAPI-samples, pull requests merged in 2021-07, with the labels that each got.

#543 FPGA: Replacing the `max_concurrency` tutorial with one for `private_copies`
  DirectProgramming/DPC++FPGA/Tutorials/Features/max_concurrency/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/max_concurrency/third-party-programs.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/License.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/private_copies.sln
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/private_copies.vcxproj
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/sample.json
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/src/private_copies.cpp
Labels: 2021.4, 2021.4 New Samples, 2021.4 Sample Removed, FPGA

#553 Changes to FPGA tutorial shannonization to make it more like other tutorials.
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/shannonization.sln
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/shannonization.vcxproj
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/shannonization_s10.vcxproj
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/src/shannonization.cpp
Labels: 2021.4, FPGA

#561 Consolidating the vcxproj files for the FPGA lsu_control tutorial
  DirectProgramming/DPC++FPGA/Tutorials/Features/lsu_control/lsu_control.sln
  DirectProgramming/DPC++FPGA/Tutorials/Features/lsu_control/lsu_control.vcxproj
  DirectProgramming/DPC++FPGA/Tutorials/Features/lsu_control/lsu_control_s10.vcxproj
Labels: 2021.4, FPGA

#567 Update FPGA loop_ivdep tutorial to use the recommended best practice
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_ivdep/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_ivdep/src/loop_ivdep.cpp
Labels: 2021.4, FPGA

#568 Remove the deprecated fp flags from qrd design
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/qrd.vcxproj
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: 2021.4, FPGA

#571 Updates to FPGA Reference Design mvdr_beamforming for 2021.4
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/BackwardSubstitution.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/CalcWeights.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/StreamingQRD.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/Transpose.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/mvdr_beamforming.cpp
Labels: 2021.4, FPGA

#565 Creating a new FPGA reference design: Merge Sort
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/License.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/basic_runtime_graph.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/k-way_merge_unit.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/merge_sort.sln
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/merge_sort.vcxproj
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/merge_unit.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/parallel_tree_bitonic_k-way.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/sample.json
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/sort_api.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/consume.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/impu_math.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/main.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/merge.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/merge_sort.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/pipe_array.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/pipe_array_internal.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/produce.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/sorting_networks.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/unrolled_loop.hpp
Labels: 2021.4, 2021.4 New Samples, FPGA

#577 Fpga cmake update
  DirectProgramming/DPC++FPGA/ReferenceDesigns/crr/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/crr/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: 2021.4, FPGA

#566 Add GPU support to oneVPL dpcpp-blur
  Libraries/oneVPL/dpcpp-blur/CMakeLists.txt
  Libraries/oneVPL/dpcpp-blur/README.md
  Libraries/oneVPL/dpcpp-blur/content/cars_128x96.nv12
  Libraries/oneVPL/dpcpp-blur/src/dpcpp-blur.cpp
  Libraries/oneVPL/dpcpp-blur/src/util.h
  Libraries/oneVPL/dpcpp-blur/src/vaapi_allocator.h
Labels: 2021.4

#572 Bdmoore1 iso3 dfd dev cloud instructions
  DirectProgramming/C++/StructuredGrids/iso3dfd_omp_offload/README.md
Labels: 2021.4

#587 Small change to merge_sort kernel names
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/main.cpp
Labels: 2021.4, FPGA

#578 [FPGA] Changing the deprecated noinit to new no_init
  DirectProgramming/DPC++FPGA/Tutorials/Features/lsu_control/src/lsu_control.cpp
Labels: 2021.4, FPGA

#590 Update depricated atomic_fence to sycl::ONEAPI::atomic_fence in mvdr_beamforming FPGA design
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/SteeringVectorGenerator.hpp
Labels: 2021.4, FPGA

#570 IP leak fix
  DirectProgramming/DPC++FPGA/ReferenceDesigns/crr/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/Constants.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/compute_units/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/double_buffering/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/explicit_data_movement/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/io_streaming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/loop_carried_dependency/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/n_way_buffering/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/onchip_memory_cache/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/optimize_inner_loop/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/src/shannonization.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/simple_host_streaming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/triangular_loop/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/fpga_reg/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/kernel_args_restrict/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_coalesce/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_initiation_interval/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_initiation_interval/src/loop_initiation_interval.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_ivdep/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_unroll/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/lsu_control/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/max_interleaving/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/memory_attributes/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/pipes/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/speculated_iterations/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/GettingStarted/fpga_compile/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Tools/dynamic_profiler/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Tools/system_profiling/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Tools/use_library/src/CMakeLists.txt
Labels: 2021.4

#523 Small update to FPGA DB design
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query11/query11_kernel.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query12/query12_kernel.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query9/query9_kernel.cpp
Labels: 2021.4, FPGA

#562 Replace deprecated accessor argument
  DirectProgramming/DPC++FPGA/Tutorials/GettingStarted/fast_recompile/src/kernel.cpp
Labels: 2021.4

#593 Stall enable
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/License.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/sample.json
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/src/stall_enable.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/stall_enable.sln
  DirectProgramming/DPC++FPGA/Tutorials/Features/stall_enable/stall_enable.vcxproj
  README.md
Labels: 2021.4, 2021.4 New Samples, FPGA

#576 Omp offload features
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/CMakeLists.txt
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/License.txt
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/README.md
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/sample.json
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/src/CMakeLists.txt
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/src/class_member_functor.cpp
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/src/function_pointer.cpp
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/src/user_defined_mapper.cpp
  DirectProgramming/C++/CompilerInfrastructure/OpenMP_Offload_Features/src/usm_and_composability_with_dpcpp.cpp
  DirectProgramming/DPC++/OpenCLInterop/Makefile
Labels: 2021.4 New Samples

#597 Small change to zero_copy_data_transfer tutorial VCXPROJ
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/zero_copy_data_transfer.vcxproj
Labels: 2021.4, FPGA
