Repository oneapi-src/oneAPI-samples, pull requests merged in 2021-11, with the labels that each got.

#731 ANR README Update
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/anr_ip.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/anr_system.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/horizontal_kernel.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/vertical_kernel.png
Labels: FPGA, 2022.2

#712 Rendering toolkit openvkl code sample pr
  RenderingToolkit/GettingStarted/03_openvkl_gsg/CMakeLists.txt
  RenderingToolkit/GettingStarted/03_openvkl_gsg/LICENSE.txt
  RenderingToolkit/GettingStarted/03_openvkl_gsg/README.md
  RenderingToolkit/GettingStarted/03_openvkl_gsg/sample.json
  RenderingToolkit/GettingStarted/03_openvkl_gsg/src/vklTutorial.c
Labels: OSPDT Approved

#711 Rendering toolkit ospray code sample PR
  .repo-tools/Docs_Automation/guids.json
  RenderingToolkit/GettingStarted/01_ospray_gsg/CMakeLists.txt
  RenderingToolkit/GettingStarted/01_ospray_gsg/LICENSE.txt
  RenderingToolkit/GettingStarted/01_ospray_gsg/README.md
  RenderingToolkit/GettingStarted/01_ospray_gsg/sample.json
  RenderingToolkit/GettingStarted/01_ospray_gsg/src/ospTutorial.cpp
  RenderingToolkit/GettingStarted/LICENSE.txt
  RenderingToolkit/GettingStarted/README.md
Labels: OSPDT Approved

#710 Rendering toolkit embree code sample PR
  RenderingToolkit/GettingStarted/02_embree_gsg/CMakeLists.txt
  RenderingToolkit/GettingStarted/02_embree_gsg/LICENSE.txt
  RenderingToolkit/GettingStarted/02_embree_gsg/README.md
  RenderingToolkit/GettingStarted/02_embree_gsg/sample.json
  RenderingToolkit/GettingStarted/02_embree_gsg/src/minimal.cpp
Labels: OSPDT Approved

#749 Gzip seeds 2022.1
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
Labels: FPGA, 2022.1

#761 [FPGA] Updating QRD designs default seed 2022.1
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: FPGA, 2022.1

#762 Fix problem in FPGA fast_recompile cmake file
  DirectProgramming/DPC++FPGA/Tutorials/GettingStarted/fast_recompile/src/CMakeLists.txt
Labels: FPGA, 2022.1

#763 Reverting QRD design default seed change
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: FPGA, 2022.1

#772 Updating the QRD seed for A10 to achieve better performance
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: FPGA, 2022.1
