Repository oneapi-src/oneAPI-samples, pull requests merged in 2021-09, with the labels that each got.

#644 Merge sort README update
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/README.md
Labels: FPGA, 2021.4

#648 Updating all FPGA tutorials that require USM support
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/simple_host_streaming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/src/CMakeLists.txt
Labels: FPGA, 2021.4

#643 Update to FPGA DB acceleration reference design
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/sample.json
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/db_utils/MapJoin.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/db_utils/MergeJoin.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/db_utils/StreamingData.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/dbdata.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/dbdata.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query1/query1_kernel.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query11/query11_kernel.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query12/pipe_types.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query12/query12_kernel.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/query9/query9_kernel.cpp
Labels: FPGA, 2021.4

#617 Add Intel(R) Extension for Scikit-learn samples
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/IntelScikitLearn_Extensions_SVC_Adult.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/IntelScikitLearn_Extensions_SVC_Adult.py
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/License.txt
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/README.md
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/requirements.txt
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelScikitLearn_Extensions_SVC_Adult/third-party-programs.txt
  AI-and-Analytics/Features-and-Functionality/README.md
Labels: 2021.4 New Samples

#655 Declare kernel name in global namespace and update deprecated syntax in ProjectTemplates samples.
  DirectProgramming/DPC++/ProjectTemplates/cmake-fpga/src/main.cpp
  DirectProgramming/DPC++/ProjectTemplates/cmake-gpu/src/main.cpp
  DirectProgramming/DPC++/ProjectTemplates/makefile-fpga/src/main.cpp
  DirectProgramming/DPC++/ProjectTemplates/makefile-gpu/src/main.cpp
Labels: 2021.4

#657 Removing old compile flag from GZIP CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
Labels: FPGA, 2021.4

#662 Add #include<string> to any sample that uses std::stoi
  DirectProgramming/C++/StructuredGrids/iso3dfd_omp_offload/src/iso3dfd.cpp
  DirectProgramming/DPC++/GraphTraversal/bitonic-sort/src/bitonic-sort.cpp
  DirectProgramming/DPC++/Jupyter/oneapi-essentials-training/06_Intel_VTune_Profiler/src/iso3dfd.cpp
  DirectProgramming/DPC++/ParallelPatterns/PrefixSum/src/PrefixSum.cpp
  DirectProgramming/DPC++/StructuredGrids/1d_HeatTransfer/src/1d_HeatTransfer.cpp
  DirectProgramming/DPC++/StructuredGrids/iso2dfd_dpcpp/src/iso2dfd.cpp
  DirectProgramming/DPC++/StructuredGrids/iso3dfd_dpcpp/src/iso3dfd.cpp
  DirectProgramming/DPC++/StructuredGrids/particle-diffusion/src/utils.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/src/dbdata.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/loop_carried_dependency/src/loop_carried_dependency.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/src/pipe_array.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/shannonization/src/shannonization.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/fpga_reg/src/fpga_reg.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_unroll/src/loop_unroll.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/speculated_iterations/src/speculated_iterations.cpp
  Libraries/oneMKL/fourier_correlation/fcorr_1d_buffers.cpp
  Libraries/oneMKL/fourier_correlation/fcorr_1d_usm.cpp
  Libraries/oneVPL/dpcpp-blur/src/dpcpp-blur.cpp
Labels: FPGA, 2021.4
