Repository oneapi-src/oneAPI-samples, pull requests merged in 2022-11, with the labels that each got.

#1185 Fixed double definition of sim target
  DirectProgramming/DPC++FPGA/Tutorials/Features/kernel_args_restrict/src/CMakeLists.txt
Labels: FPGA, 2023.0

#1186 [FPGA] Added sim target to gzip and printf
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/gzip.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/gzip_ll.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/kernels.hpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/printf/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/printf/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/printf/src/printf.cpp
Labels: FPGA, 2023.0

#1190 Update readme since simulation is not fully supported for printf
  DirectProgramming/DPC++FPGA/Tutorials/Features/printf/README.md
Labels: FPGA, 2023.0

#1197 FPGA: Fix QRD compile flags on Windows
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: FPGA, 2023.0

#1195 Simulation support: read_only_cache and onchip_memory_cache
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/onchip_memory_cache/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/onchip_memory_cache/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/onchip_memory_cache/src/onchip_memory_cache.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/read_only_cache/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/read_only_cache/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/read_only_cache/src/read_only_cache.cpp
Labels: FPGA, 2023.0

#1196 [FPGA] Added sim target to double_buffering, n_way_buffering, and simple_host_streaming
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/double_buffering/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/double_buffering/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/double_buffering/src/double_buffering.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/n_way_buffering/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/n_way_buffering/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/n_way_buffering/src/n_way_buffering.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/simple_host_streaming/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/simple_host_streaming/src/simple_host_streaming.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/printf/src/CMakeLists.txt
Labels: FPGA, 2023.0

#1204 Update QRD FPGA readme
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
Labels: FPGA

#1205 Update fpga qri readme
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qri/README.md
Labels: FPGA

#1202 Reduce problem size of fpga_reg for simulation
  DirectProgramming/DPC++FPGA/Tutorials/Features/fpga_reg/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/fpga_reg/src/fpga_reg.cpp
Labels: FPGA, 2023.0

#1207 FPGA: add Windows flags to the compile options of `loop_fusion` and `optimize_inner_loop`
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/optimize_inner_loop/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/loop_fusion/src/CMakeLists.txt
Labels: FPGA

#1214 Private copies warn
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/private_copies/src/private_copies.cpp
Labels: FPGA, 2023.0

#1215 Added USM_HOST_ALLOCATIONS_ENABLED to gzip
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
Labels: FPGA, 2023.0

#1221 Simulation support for pipes and pipe_arrays
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/src/pipe_array.cpp
  DirectProgramming/DPC++FPGA/Tutorials/Features/pipes/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/pipes/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/pipes/src/pipes.cpp
Labels: FPGA, 2023.0

#1225 Updated double buffering FPGA sample readme
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/double_buffering/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/double_buffering/assets/downtime.png
Labels: FPGA, 2023.0

#1208 FPGA: Rework of the Reference Designs Readmes
  DirectProgramming/DPC++FPGA/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/anr_ip.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/anr_system.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/bayer.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/bilateral_estimate.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/conv.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/horizontal_kernel.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/assets/vertical_kernel.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/assets/oneapi_fpga_platform.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/crr/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/assets/q11.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/assets/q12.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/assets/q9.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/copy_tag_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/deflate_dynamic_block_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/gzip_decompression_engine_full.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/gzip_decompression_engine_ip.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/gzip_file_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/huffman_decoder.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/literal_tag_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/lz77_decoder.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/snappy_decompressor.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/assets/tag_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/assets/basic_runtime_graph.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/assets/k-way_merge_unit.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/assets/merge_unit.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/assets/parallel_tree_bitonic_k-way.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/assets/sort_api.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/assets/processing_kernels_fake.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/assets/processing_kernels_ideal.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qri/README.md
Labels: FPGA, 2023.0

#1227 FPGA: update db throughput expectation
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/README.md
Labels: FPGA, 2023.0

#1220 Update Buffered Host-Device Streaming FPGA readme
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/block_diagram.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/block_diagram_detailed.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/timing_diagram_basic_0.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/timing_diagram_basic_1.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/timing_diagram_basic_double_buffered.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/timing_diagram_basic_double_buffered_cpu_bottleneck.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/buffered_host_streaming/assets/timing_diagram_basic_double_buffered_kernel_bottleneck.png
Labels: FPGA, 2023.0

#1232 Updated gzip README to reflex slower throughput in 2023.0
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/README.md
Labels: FPGA, 2023.0

#1223 Update Compute Units FPGA readme
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/compute_units/README.md
Labels: FPGA, 2023.0

#1240 Update sycl-performance-portability-training
  DirectProgramming/DPC++/Jupyter/sycl-performance-portability-training/Makefile
  DirectProgramming/DPC++/Jupyter/sycl-performance-portability-training/lab/mm_dpcpp_localmem.cpp
  DirectProgramming/DPC++/Jupyter/sycl-performance-portability-training/src/mm_dpcpp_localmem.cpp
Labels: C++SYCL Migration

#1219 Update fpga autorun readme
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/autorun/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/autorun/assets/autorun.png
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/autorun/assets/autorun_forever.png
Labels: FPGA, 2023.0

#1247 cleanup repo
  CODEOWNERS
  CONTRIBUTING.md
Labels: documentation

#1242 Tools/ApplicationDebugger: update for the 2023.0
  Tools/ApplicationDebugger/array-transform/CMakeLists.txt
  Tools/ApplicationDebugger/array-transform/README.md
  Tools/ApplicationDebugger/array-transform/src/array-transform.cpp
  Tools/ApplicationDebugger/array-transform/src/selector.hpp
  Tools/ApplicationDebugger/jacobi/CMakeLists.txt
  Tools/ApplicationDebugger/jacobi/README.md
  Tools/ApplicationDebugger/jacobi/jacobi-bugged.vcxproj
  Tools/ApplicationDebugger/jacobi/jacobi-bugged.vcxproj.user
  Tools/ApplicationDebugger/jacobi/jacobi-fixed.vcxproj
  Tools/ApplicationDebugger/jacobi/jacobi-fixed.vcxproj.user
  Tools/ApplicationDebugger/jacobi/jacobi.filters
  Tools/ApplicationDebugger/jacobi/jacobi.sln
  Tools/ApplicationDebugger/jacobi/src/jacobi-bugged.cpp
  Tools/ApplicationDebugger/jacobi/src/jacobi-fixed.cpp
  Tools/ApplicationDebugger/jacobi/src/selector.hpp
Labels: 2023.0

#1248 FPGA: update qrd seed
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: FPGA, 2023.0
