Repository oneapi-src/oneAPI-samples, pull requests merged in 2022-07, with the labels that each got.

#975 Fixing array initialization to prevent overflow
  DirectProgramming/DPC++FPGA/Tutorials/Features/pipes/src/pipes.cpp
Labels: FPGA, 2022.3

#973 New FPGA Code Sample "latency_control"
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/License.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/latency_control.sln
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/latency_control.vcxproj
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/sample.json
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/experimental/latency_control/src/latency_control.cpp
Labels: FPGA, 2022.3 New sample, 2022.3

#987 FPGA: Add instructions to build the fpga exe on Windows for the Reference Designs
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/crr/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/db/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qri/README.md
Labels: FPGA, 2022.3

#1001 gzip Remove -g0 from emu flags
  DirectProgramming/DPC++FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
Labels: FPGA, 2022.3

#1008 FPGA: Minor changes to qrd/qri/cholesky/cholesky_inversion
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky_inversion/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/qrd.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qrd/src/qrd_demo.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qri/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qri/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/qri/src/qri_demo.cpp
  DirectProgramming/DPC++FPGA/include/streaming_qrd.hpp
Labels: FPGA, 2022.3

#996 FPGA new code sample - board_test
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/License.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/board_test.sln
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/board_test.vcxproj
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/oneapi_fpga_platform.PNG
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/sample.json
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/src/board_test.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/src/board_test.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/src/helper.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/board_test/src/host_speed.hpp
Labels: FPGA, 2022.3 New sample

#1017 Increase allowable floating point rounding error in FPGA reference design mvdr_beamforming.
  DirectProgramming/DPC++FPGA/ReferenceDesigns/mvdr_beamforming/src/mvdr_beamforming.cpp
Labels: FPGA, 2022.3
