Repository oneapi-src/oneAPI-samples, pull requests merged in 2022-05, with the labels that each got.

#905 Fixed iota in FPGA pipes tutorial
  DirectProgramming/DPC++FPGA/Tutorials/Features/pipes/src/pipes.cpp
Labels: FPGA, 2022.3

#893 Fixing documentation issues and clean up of pipe_array and fpga_compile tutorials
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/README.md
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/src/pipe_array.cpp
  DirectProgramming/DPC++FPGA/Tutorials/DesignPatterns/pipe_array/src/unrolled_loop.hpp
  DirectProgramming/DPC++FPGA/Tutorials/GettingStarted/fpga_compile/README.md
Labels: FPGA, 2022.3

#898 Using new shared include files in FPGA ANR design
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/anr.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/column_stencil.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/constants.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/data_bundle.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/dma_kernels.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/main.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/mp_math.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/qfp.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/qfp_exp_lut.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/qfp_inv_lut.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/row_stencil.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/shift_reg.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/anr/src/unrolled_loop.hpp
  DirectProgramming/DPC++FPGA/include/README.md
  DirectProgramming/DPC++FPGA/include/rom_base.hpp
Labels: FPGA, 2022.3

#897 Using the new shared include directory files in the FPGA merge_sort design.
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/impu_math.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/main.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/merge.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/merge_sort.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/sorting_networks.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/merge_sort/src/unrolled_loop.hpp
Labels: FPGA, 2022.3

#924 New FPGA Reference Design: Decompression
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/License.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/copy_tag_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/data/gzip/dynamic_compressed.gz
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/data/gzip/static_compressed.gz
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/data/gzip/tp_test.gz
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/data/gzip/uncompressed.gz
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/data/snappy/alice29.ref.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/data/snappy/alice29.txt.sz
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/decompress.sln
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/decompress.vcxproj
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/deflate_dynamic_block_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/gzip_decompression_engine_full.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/gzip_decompression_engine_ip.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/gzip_file_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/huffman_decoder.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/literal_tag_format.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/lz77_decoder.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/sample.json
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/snappy_decompressor.png
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/common/byte_stacker.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/common/common.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/common/common_metaprogramming.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/common/lz77_decoder.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/common/simple_crc32.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/gzip/byte_bit_stream.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/gzip/gzip_decompressor.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/gzip/gzip_header_data.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/gzip/gzip_metadata_reader.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/gzip/huffman_decoder.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/main.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/snappy/byte_stream.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/snappy/snappy_data_gen.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/snappy/snappy_decompressor.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/src/snappy/snappy_reader.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/decompress/tag_format.png
  DirectProgramming/DPC++FPGA/include/constexpr_math.hpp
  DirectProgramming/DPC++FPGA/include/memory_utils.hpp
  DirectProgramming/DPC++FPGA/include/metaprogramming_utils.hpp
  DirectProgramming/DPC++FPGA/include/unrolled_loop.hpp
Labels: FPGA, 2022.3 New sample, 2022.3

#927 Updating README for FPGA shared include directory.
  DirectProgramming/DPC++FPGA/include/README.md
Labels: FPGA, 2022.3

#911 modify Q script for the latest DevCloud and add sanity check
  AI-and-Analytics/README.md
  AI-and-Analytics/q
  AI-and-Analytics/version_check.py
Labels: 2022.3

#922 New FPGA code sample "ac_fixed"
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/License.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/README.md
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/ac_fixed.sln
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/ac_fixed.vcxproj
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/sample.json
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/Tutorials/Features/ac_fixed/src/ac_fixed.cpp
Labels: FPGA, 2022.3 New sample, 2022.3

#915 + fix a error (wrong size of passed sequence) in histogram example.
  DirectProgramming/DPC++/ParallelPatterns/histogram/src/main.cpp
Labels: 2022.3

#910 Intel Python daal4py Get Started Sample. Readme edits.
  AI-and-Analytics/Getting-Started-Samples/IntelPython_daal4py_GettingStarted/README.md
Labels: 2022.3

#920 FPGA: adding the Cholesky decomposition to the reference designs
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/License.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/cholesky.sln
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/cholesky.vcxproj
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/sample.json
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/src/CMakeLists.txt
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/src/cholesky.hpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/src/cholesky_demo.cpp
  DirectProgramming/DPC++FPGA/ReferenceDesigns/cholesky/src/memory_transfers.hpp
  DirectProgramming/DPC++FPGA/include/README.md
  DirectProgramming/DPC++FPGA/include/streaming_cholesky.hpp
Labels: FPGA, 2022.3 New sample, 2022.3
