Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-08, with the labels that each got.

#1818 2023.2 AI Kit Release
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/IntelPyTorch_GPU_InferenceOptimization_with_AMP.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/IntelPyTorch_GPU_InferenceOptimization_with_AMP.py
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/License.txt
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/README.md
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/ci_test.py
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/requirements.txt
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_GPU_InferenceOptimization_with_AMP/third-party-programs.txt
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Horovod_Distributed_Deep_Learning/README.md
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Horovod_Distributed_Deep_Learning/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Horovod_Distributed_Deep_Learning/scripts/cl_test.py
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Horovod_Distributed_Deep_Learning/tensorflow_with_horovod.ipynb
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_PyTorch_GettingStarted/sample.json
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/License.txt
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/Makefile
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/README.md
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/sample.json
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/src/driver.c
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/src/multiply.c
  DirectProgramming/C++/CompilerInfrastructure/guided_matmul_opt_report/src/multiply.h
  README.md
Labels: AI, 2023.2

#1812 Adapt to the `get_pointer` return type change from upstream intel/llvm
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/src/latency_control.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/src/lsu_control.cpp
Labels: FPGA, 2024.0

#1814 Add -fsycl to some designs with the -fsycl missing in comments in the icpx command
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/src/CMakeLists.txt
Labels: FPGA

#1808 FPGA: Add USM bandwidth test to board_test sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/assets/oneapi_fpga_platform.png
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/board_test.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/board_test.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/helper.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/usm_speed.hpp
Labels: FPGA

#1806 Make the design smaller to prevent timing violations
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/system_profiling/src/double_buffering.cpp
Labels: FPGA

#1820 Fix and simplify `optimization_targets` for S10 compile
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/src/optimization_targets.cpp
Labels: FPGA

#1816 Updated `device_global` sample to use host_access functionality
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/src/device_global.cpp
Labels: FPGA

#1836 FPGA: add a missing header in the ANR sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/src/anr_params.hpp
Labels: FPGA, 2024.0

#1839 FPGA: Remove obsolete warning in the use_library sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
Labels: FPGA, 2024.0

#1821 Removed macOS support from samples
  DirectProgramming/C++/CombinationalLogic/MandelbrotOMP/Makefile
  DirectProgramming/C++/CombinationalLogic/MandelbrotOMP/README.md
  DirectProgramming/C++/CombinationalLogic/MandelbrotOMP/sample.json
  DirectProgramming/C++/CompilerInfrastructure/Intrinsics/Makefile
  DirectProgramming/C++/CompilerInfrastructure/Intrinsics/README.md
  DirectProgramming/C++/CompilerInfrastructure/Intrinsics/sample.json
  DirectProgramming/C++/GraphTraversal/MergesortOMP/README.md
  DirectProgramming/C++/GraphTraversal/MergesortOMP/sample.json
  DirectProgramming/Fortran/DenseLinearAlgebra/vectorize-vecmatmult/sample.json
Labels: 2024.0

#1847 Updated guided_iso3dfd_GPUOptimization sample to compile with 2024.0
  DirectProgramming/C++SYCL/StructuredGrids/guided_iso3dfd_GPUOptimization/src/1_CPU_only.cpp
  DirectProgramming/C++SYCL/StructuredGrids/guided_iso3dfd_GPUOptimization/src/2_GPU_basic.cpp
  DirectProgramming/C++SYCL/StructuredGrids/guided_iso3dfd_GPUOptimization/src/3_GPU_linear.cpp
  DirectProgramming/C++SYCL/StructuredGrids/guided_iso3dfd_GPUOptimization/src/4_GPU_private_memory_I.cpp
  DirectProgramming/C++SYCL/StructuredGrids/guided_iso3dfd_GPUOptimization/src/4_GPU_private_memory_K.cpp
  DirectProgramming/C++SYCL/StructuredGrids/guided_iso3dfd_GPUOptimization/src/5_GPU_optimized.cpp
Labels: 2024.0

#1855 FPGA: revise Sync function exit condition in HostStreamer API
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/src/HostStreamer.hpp
Labels: FPGA, 2024.0

#1852 FPGA: matmul updates for 2024.0
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/matmul.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/memory_transfers.hpp
Labels: FPGA, 2024.0

#1842 FPGA: add debug target and expand documentation to the fpga_template sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/README.md
Labels: FPGA, 2024.0

#1856 FPGA: Cleanup platform_designer protocol
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/src/add.cpp
Labels: FPGA, 2024.0

#1862 FPGA: Change template unrolls to pragma in ANR
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/src/column_stencil.hpp
Labels: FPGA, 2024.0

#1864 FPGA: Update Buffer Locations in Matrix Multiply sample to start from 1
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/matmul.hpp
Labels: FPGA, 2024.0

#1860 FPGA: Remove use of get_pointer from lsu_control sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/src/lsu_control.cpp
Labels: FPGA, 2024.0
