Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-09, with the labels that each got.

#1858 FPGA: Move the platform_designer sample out of experimental
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-oneapi/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-oneapi/src/add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/.gitignore
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/add.qpf
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/add.qsf
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/add.sdc
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/add.sv
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/add_kernel_wrapper.qsys
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/add_kernel_wrapper.qsys.legacy
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_add_report_di_0.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_clock_in.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_master_0.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_reset_in.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/add-quartus-sln/jtag.sdc
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/add-files.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/add-ip-platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/all-pins.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/complete-system_platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/csr-output-example-simple.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/disconnect-clock.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/disconnect-clock_mouse.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/generate-hdl.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/new-platform-designer-system-button.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/open-platform-designer-button.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/pins-from-design.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/pins-from-ghrd.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/quartus_new_project.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/refresh-system.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/reset-bridge.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/start-analysis.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/assets/start-compilation-quartus.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/system_console/test.bat
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/system_console/test_add.tcl
Labels: FPGA, 2024.0

#1865 FPGA: Passing Functor Directly to Lambda
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/src/Transpose.hpp
Labels: FPGA, 2024.0

#1879 FPGA: Rewrite of Max Interleaving Code Sample So That Interleaving Is Possible
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/src/max_interleaving.cpp
Labels: FPGA, 2024.0

#1883 FPGA: add missing fstream include to PCA and MVDR Beamforming
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/src/mvdr_beamforming.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/golden_pca.hpp
Labels: FPGA, 2024.0

#1882 FPGA: Add sycl:: prefix to math functions in crr, mvdr, and read_only_cache
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/CRR_common.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/main.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/src/mvdr_beamforming.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/src/read_only_cache.cpp
Labels: FPGA, 2024.0

#1885 FPGA: add the `-xsparallel=2` flag to the `fpga_compile` sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2_dpcpp_functor_usm/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3_dpcpp_lambda_usm/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4_dpcpp_lambda_buffers/src/CMakeLists.txt
Labels: FPGA, 2024.0

#1878 FPGA: Add new sample `component_interfaces_comparison`
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/Readme.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/agent_n_pipe.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/csr_out.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/data_mm_agent.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/data_mm_host.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/data_streaming.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/ddr.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/invocation_mm_agent.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/invocation_streaming.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/naive.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/stream_kernel.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/csr-pipes/Readme.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/csr-pipes/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/mm-host/Readme.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/mm-host/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/naive/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/naive/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/pipes/Readme.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/pipes/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/streaming-invocation/Readme.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/streaming-invocation/src/vector_add.cpp
Labels: FPGA, 2024.0, 2024.0 New Sample

#1871 FPGA: New Reference design code sample: `fft2d`
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/sample.json
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d_demo.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/twiddle_factors.hpp
Labels: FPGA, 2024.0, 2024.0 New Sample

#1863 FPGA: Add sample for streaming data interfaces with pipes
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/assets/kernel.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/assets/sim_waveform.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/src/streaming_data_interfaces.cpp
Labels: FPGA, 2024.0, 2024.0 New Sample

#1853 FPGA: Add sample for `max_reinvocation_delay` attribute
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/assets/default.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/assets/max_reinvocation_delay_1.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/src/max_reinvocation_delay.cpp
Labels: FPGA, 2024.0, 2024.0 New Sample

#1869 FPGA: Add a sample for Avalon memory-mapped interfaces using annotated_arg
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/assets/basic_avhost.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/assets/ddr_avhost.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/assets/dedicated_avhost.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/assets/visio-naive.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/part1_pointers/src/mmhost.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/part2_single_host/src/mmhost.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/part3_hosts/src/mmhost.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/part4_ddr_hosts/src/mmhost.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/sample.json
Labels: FPGA, 2024.0, 2024.0 New Sample

#1892 FPGA: Update `max_interleaving` sample to use a different seed by default
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/src/CMakeLists.txt
Labels: FPGA, 2024.0

#1890 FPGA: Update the `explicit_data_movement` sample to include an IPA focus
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/src/explicit_data_movement.cpp
Labels: FPGA, 2024.0

#1896 FPGA: keep the `qactypes` flag on windows for the report target in the `use_library` sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/CMakeLists.txt
Labels: FPGA, 2024.0

#1897 FPGA: update namespace path from `sycl::ext::oneapi` to `sycl::ext::intel` for `annotated_args` properties
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d.hpp
Labels: FPGA, 2024.0

#1895 Fortran do conc
  DirectProgramming/Fortran/EdgeDetection/simple-binary-images/License.txt
  DirectProgramming/Fortran/EdgeDetection/simple-binary-images/Makefile
  DirectProgramming/Fortran/EdgeDetection/simple-binary-images/README.md
  DirectProgramming/Fortran/EdgeDetection/simple-binary-images/img_seg_do_concurrent.F90
  DirectProgramming/Fortran/EdgeDetection/simple-binary-images/img_seg_omp_target.F90
  DirectProgramming/Fortran/EdgeDetection/simple-binary-images/sample.json
Labels: 2024.0

#1903 FPGA: Fix some samples HW compatibility tables
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/README.md
Labels: FPGA, 2024.0

#1898 FPGA: correct streaming kernel graphic in the component interfaces comparison sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/assets/stream_kernel.svg
Labels: FPGA, 2024.0

#1906 FPGA:Component interfaces remove pipeline
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/streaming-invocation/Readme.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/streaming-invocation/src/vector_add.cpp
Labels: FPGA, 2024.0

#1907 FPGA: Move IP Authoring interfaces samples to the appropriate folder
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/register_map_invocation_interface.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/streaming_invocation_interface.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/register_map_functor_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/register_map_lambda_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/streaming_functor_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/streaming_lambda_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/assets/handshaking_block_diagram.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/assets/pipelined_kernels.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/src/pipelined_kernels.cpp
Labels: FPGA, 2024.0

#1866 FPGA: Add a new Reference Design sample: `niosv`
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/.gitignore
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/assets/platform-designer_generate.png
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/assets/platform-designer_top.png
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/build_and_sim_testsystem.tcl
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/components.ipx
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/ip/pd_system/code_data_ram.ip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/ip/pd_system/nios.ip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/ip/pd_system/pd_system_clock_in.ip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/ip/pd_system/pd_system_reset_in.ip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/ip/pd_system/simple_dma_accelerator.ip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/ip/pd_system/uart.ip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/kernels/simple_dma/.gitignore
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/kernels/simple_dma/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/kernels/simple_dma/src/simple_dma.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/pd_system.qsys
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/pd_system.qsys.legacy
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/sample.json
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/simulation_files/.gitignore
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/simulation_files/run_nios.tcl
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/simulation_files/test_nios_commandline.tcl
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/simulation_files/wave.do
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/software/simple_dma_test/.gitignore
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/software/simple_dma_test/software_build.tcl
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/software/simple_dma_test/src/simple_dma_test.c
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/test_system.qpf
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/test_system.qsf
Labels: FPGA, 2024.0, 2024.0 New Sample

#1910 FPGA: Update top-level readme
  DirectProgramming/C++SYCL_FPGA/README.md
Labels: FPGA, 2024.0

#1911 FPGA: Update zero_copy_kernel sample to support IP-Authoring
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/src/buffer_kernel.hpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/src/zero_copy_data_transfer.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/src/zero_copy_kernel.hpp
Labels: FPGA, 2024.0

#1909 FPGA: Update invocation interfaces tutorial
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/invocation_mm_agent_args.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/invocation_streaming_args.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/non-pipelined.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/pipelined.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/assets/pipelined_kernels.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/reg_map_functor.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/reg_map_lambda.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/register_map_functor_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/register_map_lambda_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/stream_functor.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/stream_lambda.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/stream_pipelined.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/stream_rm_stall.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/streaming_functor_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/assets/handshaking_block_diagram.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/pipelined_kernels/src/pipelined_kernels.cpp
Labels: FPGA, 2024.0

#1916 FPGA: add first draft of readme in ip authoring interfaces
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/README.md
Labels: FPGA, 2024.0

#1920 Fixes for 2024.0
  DirectProgramming/C++/GraphTraversal/MergesortOMP/Makefile
  DirectProgramming/C++SYCL/DenseLinearAlgebra/complex_mult/Makefile
  DirectProgramming/C++SYCL/SpectralMethods/guided_OceanFFT_SYCLMigration/sample.json
  DirectProgramming/C++SYCL/guided_concurrentKernels_SYCLMigration/sample.json
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/sample.json
Labels: 2024.0

#1924 FPGA: remove RHEL8 from OS compatibility in the niosv sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/README.md
Labels: FPGA, 2024.0

#1925 FPGA: Fix broken sample.json files in the ip_authoring_interfaces folder
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/sample.json
Labels: FPGA, 2024.0

#1917 Fix IntelTensorFlow_Horovod_Distributed_Deep_Learning "no such file or directory" error
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Horovod_Distributed_Deep_Learning/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Horovod_Distributed_Deep_Learning/scripts/ci_test.py
Labels: ci-ready

#1919 fixed IntelTensorFlow_InferenceOptimization "no such file or directory" error
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_InferenceOptimization/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_InferenceOptimization/scripts/ci_test.py
Labels: ci-ready

#1928 FPGA: fix `board_test` `sample.json` file
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/sample.json
Labels: FPGA, 2024.0

#1931 FPGA: Fix interface width in the fft2d sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d.hpp
Labels: FPGA, 2024.0
