Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-10, with the labels that each got.

#1941 FPGA: Fix `niosv` `sample.json` Windows CI steps
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/niosv/sample.json
Labels: FPGA, 2024.0

#1940 Remove INTELFPGAOCLSDKROOT from tutorials
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/CMakeLists.txt
Labels: FPGA, 2024.0

#1942 Update the maxloc operator example to comply with SYCL 2020
  Libraries/oneDPL/maxloc_reductions/maxloc_operator.cpp
Labels: 2024.0

#1726 [oneMKL]Enable support for new Toolkit layout for 2024
  Libraries/oneMKL/binomial/GNUmakefile
  Libraries/oneMKL/black_scholes/GNUmakefile
  Libraries/oneMKL/block_cholesky_decomposition/GNUmakefile
  Libraries/oneMKL/block_cholesky_decomposition/dpbltrf.cpp
  Libraries/oneMKL/block_cholesky_decomposition/dpbltrs.cpp
  Libraries/oneMKL/block_cholesky_decomposition/factor.cpp
  Libraries/oneMKL/block_cholesky_decomposition/solve.cpp
  Libraries/oneMKL/block_lu_decomposition/GNUmakefile
  Libraries/oneMKL/block_lu_decomposition/factor.cpp
  Libraries/oneMKL/block_lu_decomposition/solve.cpp
  Libraries/oneMKL/computed_tomography/GNUmakefile
  Libraries/oneMKL/fourier_correlation/GNUmakefile
  Libraries/oneMKL/matrix_mul_mkl/GNUmakefile
  Libraries/oneMKL/monte_carlo_european_opt/GNUmakefile
  Libraries/oneMKL/monte_carlo_pi/GNUmakefile
  Libraries/oneMKL/monte_carlo_pi/mc_pi_device_api.cpp
  Libraries/oneMKL/random_sampling_without_replacement/GNUmakefile
  Libraries/oneMKL/sparse_conjugate_gradient/GNUmakefile
  Libraries/oneMKL/student_t_test/GNUmakefile
Labels: 2024.0

#1956 FPGA: fix work per thread computation in buffered host streaming sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/src/common.hpp
Labels: FPGA, 2024.0

#1962 FPGA: fix component interfaces comparison sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/sample.json
Labels: FPGA, 2024.0

#1963 FPGA: fix various `sample.json` files
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/sample.json
Labels: FPGA, 2024.0

#1971 FPGA: wait for the fft kernel in the fft2d sample loop
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d_demo.cpp
Labels: FPGA, 2024.0

#1972 FPGA: fix the `use_library` sample device selection
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/src/lib_rtl.v
Labels: FPGA, 2024.0

#1974 FPGA: fix `board_test` `sample.json` file
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/sample.json
Labels: FPGA, ci-ready, 2024.0

#1965 Libraries/MPI: added GPU samples
  Libraries/MPI/jacobian_solver/GNUmakefile
  Libraries/MPI/jacobian_solver/License.txt
  Libraries/MPI/jacobian_solver/README.md
  Libraries/MPI/jacobian_solver/sample.json
  Libraries/MPI/jacobian_solver/src/01_jacobian_host_mpi_one-sided/GNUmakefile
  Libraries/MPI/jacobian_solver/src/01_jacobian_host_mpi_one-sided/mpi3_onesided_jacobian.c
  Libraries/MPI/jacobian_solver/src/02_jacobian_device_mpi_one-sided_gpu_aware/GNUmakefile
  Libraries/MPI/jacobian_solver/src/02_jacobian_device_mpi_one-sided_gpu_aware/mpi3_onesided_jacobian_gpu_openmp.c
  Libraries/MPI/jacobian_solver/src/02_jacobian_device_mpi_one-sided_gpu_aware/mpi3_onesided_jacobian_gpu_sycl.cpp
  Libraries/MPI/jacobian_solver/src/03_jacobian_device_mpi_one-sided_device_initiated/GNUmakefile
  Libraries/MPI/jacobian_solver/src/03_jacobian_device_mpi_one-sided_device_initiated/mpi3_onesided_jacobian_gpu_sycl_device_initiated.cpp
  Libraries/MPI/jacobian_solver/third-party-programs.txt
  Libraries/MPI/mpi_send_gpu/GNUmakefile
  Libraries/MPI/mpi_send_gpu/License.txt
  Libraries/MPI/mpi_send_gpu/README.md
  Libraries/MPI/mpi_send_gpu/sample.json
  Libraries/MPI/mpi_send_gpu/src/GNUmakefile
  Libraries/MPI/mpi_send_gpu/src/mpi_send_gpu_omp.c
  Libraries/MPI/mpi_send_gpu/src/mpi_send_gpu_sycl.cpp
  Libraries/MPI/mpi_send_gpu/third-party-programs.txt
Labels: 2024.0, 2024.0 New Sample

#1955 Use intel sycl
  Publications/GPU-Opt-Guide/CMakeLists.txt
  Publications/GPU-Opt-Guide/MPI/01_omp_mpich/CMakeLists.txt
  Publications/GPU-Opt-Guide/OpenMP/26_omp_prefetch/c/CMakeLists.txt
  Publications/GPU-Opt-Guide/OpenMP/26_omp_prefetch/c/nbody_c.cpp
  Publications/GPU-Opt-Guide/OpenMP/26_omp_prefetch/c_simd/CMakeLists.txt
  Publications/GPU-Opt-Guide/OpenMP/26_omp_prefetch/c_simd/nbody_c_simd.cpp
  Publications/GPU-Opt-Guide/OpenMP/26_omp_prefetch/fortran/CMakeLists.txt
  Publications/GPU-Opt-Guide/OpenMP/26_omp_prefetch/fortran/nbody_f.f
  Publications/GPU-Opt-Guide/matrix/CMakeLists.txt
Labels: 2024.0

#1984 FPGA: remove CI tests for the `use_library` sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/sample.json
Labels: FPGA, ci-ready, 2024.0

#1999 Migrated radix sort sample
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/01_sycl_dpct_output/Common/helper_cuda.h
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/01_sycl_dpct_output/Common/helper_string.h
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/01_sycl_dpct_output/src/radixSortThrust.dp.cpp
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/02_sycl_dpct_migrated/CMakeLists.txt
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/02_sycl_dpct_migrated/Common/helper_cuda.h
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/02_sycl_dpct_migrated/Common/helper_string.h
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/02_sycl_dpct_migrated/src/CMakeLists.txt
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/02_sycl_dpct_migrated/src/radixSortMigrated.cpp
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/CMakeLists.txt
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/License.txt
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/README.md
  DirectProgramming/C++SYCL/GraphTraversal/radix_sort_thrust_migrated/sample.json
Labels: 2024.0, 2024.0 New Sample

#2015 2024.0 IRTK VKL Updates for GPU (Open VKL 2.x)
  RenderingToolkit/GettingStarted/03_openvkl_gsg/CMakeLists.txt
  RenderingToolkit/GettingStarted/03_openvkl_gsg/README.md
  RenderingToolkit/GettingStarted/03_openvkl_gsg/cpu/CMakeLists.txt
  RenderingToolkit/GettingStarted/03_openvkl_gsg/cpu/README.md
  RenderingToolkit/GettingStarted/03_openvkl_gsg/cpu/src/vklTutorialCPU.c
  RenderingToolkit/GettingStarted/03_openvkl_gsg/gpu/CMakeLists.txt
  RenderingToolkit/GettingStarted/03_openvkl_gsg/gpu/README.md
  RenderingToolkit/GettingStarted/03_openvkl_gsg/gpu/src/vklTutorialGPU.cpp
  RenderingToolkit/GettingStarted/03_openvkl_gsg/sample.json
Labels: 2024.0

#2016 IRTK 2024.0 OSPray 3.0: GPU, Build, README, examples, validation, no src
  RenderingToolkit/GettingStarted/01_ospray_gsg/CMakeLists.txt
  RenderingToolkit/GettingStarted/01_ospray_gsg/README.md
  RenderingToolkit/GettingStarted/01_ospray_gsg/example_images/accumulatedFrameCpp.png
  RenderingToolkit/GettingStarted/01_ospray_gsg/example_images/accumulatedFrameCpp.ppm
  RenderingToolkit/GettingStarted/01_ospray_gsg/example_images/firstFrameCpp.png
  RenderingToolkit/GettingStarted/01_ospray_gsg/example_images/firstFrameCpp.ppm
  RenderingToolkit/GettingStarted/01_ospray_gsg/sample.json
Labels: 2024.0

#2019 FPGA: Remove unnecessary comment
  DirectProgramming/C++SYCL_FPGA/include/streaming_qrd.hpp
Labels: FPGA, 2024.0
