Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-06, with the labels that each got.

#1703 Platform designer update 2023.2
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/src/add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/.gitignore
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add.qpf
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add.qsf
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add_kernel_wrapper.qsys
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add_kernel_wrapper.qsys.legacy
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_add_report_di_0.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_clock_in.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_master_0.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_reset_in.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/quartus_sh.log
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/add-ip-platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/complete-system_platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/fix-reset_n-platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/jtag_avmm.tcl
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/load_inputs.tcl
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/read_outputs.tcl
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/test_add.tcl
Labels: FPGA, 2023.2

#1697 OpenMP Offload C++ Tutorials readme update
  DirectProgramming/C++/Jupyter/OpenMP-offload-training/README.md
Labels: documentation, ci-ready, 2023.2

#1712 FPGA reference design: Board_test patch
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/board_test.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/helper.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/host_speed.hpp
Labels: FPGA, 2023.2

#1710 FPGA: New code samples implementing the Principal Component Analysis
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/data/abalone.csv
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/sample.json
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/golden_pca.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/pca.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/pca_demo.cpp
  DirectProgramming/C++SYCL_FPGA/include/README.md
  DirectProgramming/C++SYCL_FPGA/include/streaming_covariance_matrix.hpp
  DirectProgramming/C++SYCL_FPGA/include/streaming_eigen.hpp
Labels: FPGA, 2023.2, 2023.2 New Sample

#1715 FPGA: update board test reference design default seed
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/CMakeLists.txt
Labels: FPGA, 2023.2

#1713 FPGA: adjust the number of private copies in the covariance matrix kernel
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/pca_demo.cpp
  DirectProgramming/C++SYCL_FPGA/include/streaming_covariance_matrix.hpp
Labels: FPGA, 2023.2

#1716 FPGA: improve PCA readme with specified runtime parameters
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/README.md
Labels: FPGA, 2023.2

#1718 Concurrent Kernels sample readme update
  DirectProgramming/C++SYCL/guided_concurrentKernels_SYCLMigration/README.md
  DirectProgramming/C++SYCL/guided_concurrentKernels_SYCLMigration/sample.json
Labels: documentation, 2023.2

#1611 Add new Fortran coarray sample
  DirectProgramming/Fortran/guided_Coarray/License.txt
  DirectProgramming/Fortran/guided_Coarray/Makefile
  DirectProgramming/Fortran/guided_Coarray/README.md
  DirectProgramming/Fortran/guided_Coarray/images/circle.png
  DirectProgramming/Fortran/guided_Coarray/sample.json
  DirectProgramming/Fortran/guided_Coarray/src/mcpi_coarray_final.F90
  DirectProgramming/Fortran/guided_Coarray/src/mcpi_sequential.F90
Labels: 2023.2 New Sample

#1720 Guided Matrix Multiply Bad Buffers and SLM Size debug samples
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/CMakeLists.txt
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/License.txt
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/README.md
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/sample.json
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/src/a1_matrix_mul_zero_buff.cpp
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/src/a2_matrix_mul.cpp
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/src/b1_matrix_mul_null_usm.cpp
  Tools/ApplicationDebugger/guided_matrix_mult_BadBuffers/src/b2_matrix_mul_usm.cpp
  Tools/ApplicationDebugger/guided_matrix_mult_SLMSize/CMakeLists.txt
  Tools/ApplicationDebugger/guided_matrix_mult_SLMSize/License.txt
  Tools/ApplicationDebugger/guided_matrix_mult_SLMSize/README.md
  Tools/ApplicationDebugger/guided_matrix_mult_SLMSize/sample.json
  Tools/ApplicationDebugger/guided_matrix_mult_SLMSize/src/1_matrix_mul_SLM_size.cpp
  Tools/ApplicationDebugger/guided_matrix_mult_SLMSize/src/2_matrix_mul.cpp
Labels: 2023.2 New Sample

#1723 Update host pipes tutorial for native implementation
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/src/hostpipes.cpp
Labels: FPGA, 2023.2

#1711 Jacobi Iterative Solver readme update
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_jacobi_iterative_gpu_optimization/README.md
Labels: documentation, 2023.2

#1719 Predictive Modeling with XGBoost* and the Intel® AI Analytics Toolkit sample readme update
  AI-and-Analytics/Jupyter/Predictive_Modeling_Training/README.md
  AI-and-Analytics/Jupyter/Predictive_Modeling_Training/sample.json
Labels: documentation, 2023.2

#1634 Add fortran openmp sample
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/License.txt
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/Makefile
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/README.md
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/images/distribute-team.png
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/images/workshare.png
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/sample.json
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/src/01_mm_CPU_sequential.f90
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/src/02_mm_CPU_parallel.f90
  DirectProgramming/Fortran/guided_matrix_mul_OpenMP/src/03_mm_GPU.f90
Labels: 2023.2 New Sample

#1731 FPGA: Fix two minor issues with the use_library tutorial
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/src/use_library.cpp
Labels: FPGA, 2023.2

#1673 FPGA: fix use of uninitialized memory in streaming_qrd.hpp
  DirectProgramming/C++SYCL_FPGA/include/streaming_qrd.hpp
Labels: FPGA, 2023.2

#1740 FPGA: Remove db query 9 for 2023.2
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/assets/q9.png
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/data/sf0.01/answers/q9.out
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/sample.json
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/db.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/dbdata.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/dbdata.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/pipe_types.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/query9_kernel.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/query9_kernel.hpp
Labels: FPGA, 2023.2

#1741 Changed default seed in read_only_cache design
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/src/CMakeLists.txt
Labels: FPGA, 2023.2

#1732 Introduction to Machine Learning readme update
  AI-and-Analytics/Jupyter/Introduction_to_Machine_Learning/README.md
  AI-and-Analytics/Jupyter/Introduction_to_Machine_Learning/sample.json
Labels: documentation, 2023.2

#1745 Fine tuning text classification with INC quantization aware training
  AI-and-Analytics/Features-and-Functionality/INC_QuantizationAwareTraining_TextClassification/INC_QuantizationAwareTraining_TextClassification.ipynb
  AI-and-Analytics/Features-and-Functionality/INC_QuantizationAwareTraining_TextClassification/INC_QuantizationAwareTraining_TextClassification.py
  AI-and-Analytics/Features-and-Functionality/INC_QuantizationAwareTraining_TextClassification/License.txt
  AI-and-Analytics/Features-and-Functionality/INC_QuantizationAwareTraining_TextClassification/README.md
  AI-and-Analytics/Features-and-Functionality/INC_QuantizationAwareTraining_TextClassification/requirements.txt
  AI-and-Analytics/Features-and-Functionality/INC_QuantizationAwareTraining_TextClassification/sample.json
Labels: 2023.2 New Sample

#1746 Tools/ApplicationDebugger: update readme
  Tools/ApplicationDebugger/array-transform/README.md
  Tools/ApplicationDebugger/array-transform/src/array-transform.cpp
  Tools/ApplicationDebugger/jacobi/README.md
Labels: 2023.2

#1748 FPGA: Matrix multiply sample: add wait() call to feeders
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/matmul.hpp
Labels: FPGA

#1751 Revert "FPGA: Remove db query 9 for 2023.2 (#1740)"
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/assets/q9.png
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/data/sf0.01/answers/q9.out
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/sample.json
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/db.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/dbdata.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/dbdata.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/pipe_types.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/query9_kernel.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/query9_kernel.hpp
Labels: FPGA, 2024.0

#1694 FPGA: Add mem_channel code sample back for 2024.0
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/src/mem_channel.cpp
Labels: FPGA, 2024.0

#1757 [FPGA] Update the default seed in lsu_control tutorial
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/src/CMakeLists.txt
Labels: FPGA, 2024.0

#1759 FPGA: matrix multiply sample: use template param instead of macro in the code
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/matmul.hpp
Labels: FPGA, 2024.0

#1760 FPGA: matrix multiply sample: use template param instead of macro in the code for 2023.2
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/matmul.hpp
Labels: FPGA, 2023.2
