Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-03, with the labels that each got.

#1396 FPGA: make the decompress design use shared memory allocations in IPA flow
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small.ref.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small.txt.sz
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/gzip/gzip_decompressor.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/main.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/snappy/snappy_decompressor.hpp
Labels: FPGA, 2023.1

#1398 FPGA: Add the missing simulator selector to the CRR design.
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/main.cpp
Labels: FPGA, 2023.1

#1387 Application Debugger samples 2023.1 update
  Tools/ApplicationDebugger/array-transform/CMakeLists.txt
  Tools/ApplicationDebugger/array-transform/README.md
  Tools/ApplicationDebugger/array-transform/array-transform.vcxproj.user
  Tools/ApplicationDebugger/array-transform/sample.json
  Tools/ApplicationDebugger/array-transform/src/array-transform.cpp
  Tools/ApplicationDebugger/array-transform/src/selector.hpp
  Tools/ApplicationDebugger/jacobi/CMakeLists.txt
  Tools/ApplicationDebugger/jacobi/README.md
  Tools/ApplicationDebugger/jacobi/sample.json
  Tools/ApplicationDebugger/jacobi/src/jacobi-bugged.cpp
  Tools/ApplicationDebugger/jacobi/src/jacobi-fixed.cpp
  Tools/ApplicationDebugger/jacobi/src/selector.hpp
Labels: 2023.1

#1399 FPGA: improve the minimum_latency cmake device detection
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1394 Zero Copy Data Transfer readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/assets/basic.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/assets/zero_copy.png
Labels: FPGA, 2023.1

#1400 Add platform designer tutorial: Readme clarification
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/add-files.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/all-pins.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/complete-system_platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/disconnect-clock.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/disconnect-clock_mouse.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/refresh-system.png
Labels: FPGA, 2023.1

#1402 FPGA compile update - fix compile problem with USM device check
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2-dpcpp_functor_usm/src/vector_add.cpp
Labels: FPGA, 2023.1

#1404 Fpga compile - remove +/- in path
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part1-C++/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part1_cpp/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part1_cpp/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part1_cpp/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2-dpcpp_functor_usm/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2_dpcpp_functor_usm/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2_dpcpp_functor_usm/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2_dpcpp_functor_usm/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3-dpcpp_lambda_usm/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3_dpcpp_lambda_usm/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3_dpcpp_lambda_usm/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3_dpcpp_lambda_usm/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4-dpcpp_lambda_buffers/src/vector_add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4_dpcpp_lambda_buffers/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4_dpcpp_lambda_buffers/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4_dpcpp_lambda_buffers/src/vector_add.cpp
Labels: FPGA, 2023.1

#1405 Document that simulator for mvdr_beamforming can take a long time
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/README.md
Labels: FPGA, 2023.1

#1407 FPGA: Add note to large designs READMEs to warn users about large FPGA parts requirements
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/README.md
Labels: FPGA, 2023.1

#1414 FPGA: Update seeds of the GZIP and QRD design to meet performance target
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qrd/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1415 FPGA: Reduce test size for simple_host_streaming simulator target
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/src/simple_host_streaming.cpp
Labels: FPGA, 2023.1

#1401 Adding new oneAPI sample PyTorch AMX BF16/INT8 Inference
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8.py
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/License.txt
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/README.md
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/ci_test.py
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/requirements.txt
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/third-party-programs.txt
  AI-and-Analytics/Features-and-Functionality/README.md
Labels: AI, 2023.1.1

#1411 LanguageID sample updates: IPEX, BF16, script clean up
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Inference/clean.sh
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Inference/inference_commonVoice.py
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Inference/inference_custom.py
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Inference/initialize.sh
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Inference/lang_id_inference.ipynb
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/README.md
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Training/clean.sh
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Training/initialize.sh
  AI-and-Analytics/End-to-end-Workloads/LanguageIdentification/Training/train_ecapa.patch
Labels: AI, 2023.1.1

#1416 ApplicationDebugger: update make targets with ONEAPI_DEVICE_SELECTOR
  Tools/ApplicationDebugger/array-transform/CMakeLists.txt
  Tools/ApplicationDebugger/jacobi/CMakeLists.txt
Labels: 2023.1

#1420 FPGA: fix `anr` cmake file
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1423 Fpga compile add include path
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
Labels: FPGA, 2023.1

#1427 FPGA: fix the HW compile seed for the ivdep sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1431 FPGA: Provide smaller input file size option for gzip
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/data/100b.txt
Labels: FPGA, 2023.1

#1437 Add cuBLAS migrated matrix mul sample
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/Common/exception.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/Common/helper_cuda.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/Common/helper_functions.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/Common/helper_image.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/Common/helper_string.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/Common/helper_timer.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/01_sycl_dpct_output/src/matrixMulCUBLAS.cpp.dp.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/CMakeLists.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/Common/exception.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/Common/helper_cuda.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/Common/helper_functions.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/Common/helper_image.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/Common/helper_string.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/Common/helper_timer.h
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/02_sycl_dpct_migrated/src/matrixMulCUBLAS.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/CMakeLists.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/License.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/README.md
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/sample.json
  DirectProgramming/C++SYCL/DenseLinearAlgebra/guided_matrix_mul_SYCLMigration/third-party-programs.txt
Labels: 2023.1 New Sample

#1443 Change array size to 16 for simulation
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/src/loop_unroll.cpp
Labels: FPGA, 2023.1

#1449 Platform designer readme touchup
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README_2023-0.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/pins-from-design.png
Labels: FPGA, 2023.1

#1459 FPGA: Fix windows CI steps in platform designer
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/sample.json
Labels: FPGA, 2023.1

#1472 FPGA: document RTL library issue with the 2023.1 release.
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
Labels: FPGA, 2023.1

#1474 Clean up 2023.0 code
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/src/fpga_template.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README_2023-0.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/src/add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/complete-system_platform-designer_2023-0.png
Labels: FPGA, 2023.1

#1475 FPGA: reduce snappy decompression simulation duration
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small.txt.sz
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small_ref.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/main.cpp
Labels: FPGA, 2023.1

#1476 FPGA: remove 2023.0 cruft in anticipation of 2023.1 release
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/src/fpga_template.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README_2023-0.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/src/add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/complete-system_platform-designer_2023-0.png
Labels: FPGA, 2023.1

#1473 FPGA: Address Coverity issues
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/dbdata.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/CompareGzip.cpp
Labels: FPGA, 2023.2

#1478 FPGA: reduce snappy decompression simulation duration
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small.txt.sz
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small_ref.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/main.cpp
Labels: FPGA, 2023.1

#1469 Intel® TensorFlow* Model Zoo Inference With FP32 Int8 readme update
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_ModelZoo_Inference_with_FP32_Int8/README.md
Labels: AI, 2023.1.1

#1483 FPGA: Set fp model to "precise" for ac_fixed sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_fixed/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_fixed/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1481 Added cpuInstructionSets to sample.json for AI samples
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_InferenceOptimizations_AMX_BF16_INT8/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelPyTorch_TrainingOptimizations_AMX_BF16/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_AMX_BF16_Training/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Transformer_AMX_bfloat16_MixedPrecision/sample.json
Labels: AI, 2023.1.1

#1496 Fix CI steps in vector-add and simple-add
  DirectProgramming/C++SYCL/DenseLinearAlgebra/simple-add/sample.json
  DirectProgramming/C++SYCL/DenseLinearAlgebra/vector-add/sample.json
Labels: 2023.2
