Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-11, with the labels that each got.

#2030 Fixes for tachyon
  Tools/VTuneProfiler/tachyon/sample.json
  Tools/VTuneProfiler/tachyon/windows/msvs/build_serial.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_openmp.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_openmp_optimized.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_tbb.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_tbb_optimized.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/tachyon.vcxproj
Labels: 2024.0

#2034 FPGA: Switch to default seed 2 to avoid Stratix10 timing failures in the `stall_enable` sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/src/CMakeLists.txt
Labels: FPGA, 2024.0

#2035 FPGA: Switch to default seed 2 to avoid Stratix10 timing failures in the stall_enable sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/src/CMakeLists.txt
Labels: FPGA, 2024.0

#2013 AI Kit Product name change
  AI-and-Analytics/End-to-end-Workloads/README.md
  AI-and-Analytics/Features-and-Functionality/README.md
  AI-and-Analytics/Getting-Started-Samples/README.md
  AI-and-Analytics/README.md
Labels: 2024.0

#2025 ITEX sample update for AI Kit product name change
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_TensorFlow_GettingStarted/README.md
Labels: 2024.0

#2027 Model Zoo updates for product name changes
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_ModelZoo_Inference_with_FP32_Int8/README.md
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_ModelZoo_Inference_with_FP32_Int8/ResNet50_Inference.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_ModelZoo_Inference_with_FP32_Int8/ResNet50_Inference_gpu.ipynb
Labels: 2024.0

#2037 Update READMEs
  AI-and-Analytics/Getting-Started-Samples/INC-Quantization-Sample-for-PyTorch/README.MD
  AI-and-Analytics/Getting-Started-Samples/INC-Sample-for-Tensorflow/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelModin_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelModin_Vs_Pandas/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelPython_XGBoost_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelPython_daal4py_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelTensorFlow_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_PyTorch_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_TensorFlow_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/Intel_oneCCL_Bindings_For_PyTorch_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/README.md
Labels: 2024.0

#2032 Changes for AI Tools Docker images
  AI-and-Analytics/Getting-Started-Samples/IntelAIKitContainer_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelAIKitContainer_GettingStarted/run_oneapi_docker.sh
Labels: 2024.0

#2039 FPGA: remove os section in `use_library` `sample.json` file
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/sample.json
Labels: FPGA, 2024.1

#1991 FPGA: update the `board_test` sample to match OpenCL performance
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/board_test.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/helper.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/usm_speed.hpp
Labels: FPGA, 2024.1

#2010 FPGA: move the include of `stdint` in the GZIP sample from the `.cpp` to the `.hpp` file
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/WriteGzip.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/WriteGzip.hpp
Labels: FPGA, 2024.1

#2036 FPGA: Replace mentions to "IP Authoring flow" to "SYCL HLS flow"
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d_demo.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/pca.hpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/README.md
Labels: FPGA, 2024.1

#2048 FPGA: Update seed for `loop_ivdep` sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/src/CMakeLists.txt
Labels: FPGA, 2024.1

#2050 FPGA: Add Cyclone V support to Tutorials samples
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/autorun/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/compute_units/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/double_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/io_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/loop_carried_dependency/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/n_way_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/onchip_memory_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/optimize_inner_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/pipe_array/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/src/shannonization.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/triangular_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_fixed/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_int/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/dsp_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/component_interfaces_comparison/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/mmhost/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ip_authoring_interfaces/streaming_data_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/kernel_args_restrict/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_fusion/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/src/loop_initiation_interval.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_reinvocation_delay/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/pipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/printf/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/src/speculated_iterations.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fast_recompile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/dynamic_profiler/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/system_profiling/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
Labels: FPGA, 2024.1

#2053 FPGA: Update emulation_model flag in use_library sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/src/lib_rtl_model.cpp
Labels: FPGA, 2024.1

#2054 FPGA: Update shannonization and db9 to bypass an II increase in 2024.1
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/query9_kernel.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/src/IntersectionKernel.hpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/src/shannonization.cpp
Labels: FPGA, 2024.1

#2047 FPGA: Add new flows to optimization_targets README
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/README.md
Labels: FPGA, 2024.1

#2060 FPGA: Remove throughput metric from loop_coalesce and update README
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/src/loop_coalesce.cpp
Labels: FPGA, 2024.1

#2058 FPGA: Update CMakeList of `fpga_compile` to be aligned with `fpga_template`
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part1_cpp/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part1_cpp/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2_dpcpp_functor_usm/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part2_dpcpp_functor_usm/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3_dpcpp_lambda_usm/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part3_dpcpp_lambda_usm/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4_dpcpp_lambda_buffers/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/part4_dpcpp_lambda_buffers/src/CMakeLists.txt
Labels: FPGA, 2024.1

#2068 Updated project files to support 2024.0 builds in Visual Studio
  DirectProgramming/C++SYCL/DenseLinearAlgebra/matrix_mul/matrix_mul_sycl.vcxproj
  Libraries/oneDPL/gamma-correction/gamma-correction.vcxproj
  Libraries/oneTBB/tbb-async-sycl/tbb-async-sycl.vcxproj
  Libraries/oneTBB/tbb-resumable-tasks-sycl/tbb-resumable-tasks-sycl.vcxproj
  Libraries/oneTBB/tbb-task-sycl/tbb-task-sycl.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_tbb.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_tbb_optimized.vcxproj
Labels: 2024.0

#2067 Updated project files to support 2024.0 builds in Visual Studio
  DirectProgramming/C++SYCL/DenseLinearAlgebra/matrix_mul/matrix_mul_sycl.vcxproj
  Libraries/oneDPL/gamma-correction/gamma-correction.vcxproj
  Libraries/oneTBB/tbb-async-sycl/tbb-async-sycl.vcxproj
  Libraries/oneTBB/tbb-resumable-tasks-sycl/tbb-resumable-tasks-sycl.vcxproj
  Libraries/oneTBB/tbb-task-sycl/tbb-task-sycl.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_tbb.vcxproj
  Tools/VTuneProfiler/tachyon/windows/msvs/build_with_tbb_optimized.vcxproj
Labels: 2024.0
