Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-02, with the labels that each got.

#1303 FPGA: create new invocation interfaces sample
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/assets/register_map_invocation_interface.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/assets/streaming_invocation_interface.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/src/register_map_functor_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/src/register_map_lambda_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/src/streaming_functor_model.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/src/streaming_lambda_model.cpp
Labels: FPGA, 2023.1 New Sample, 2023.1

#1302 FPGA: New Code Sample `minimum_latency`
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/src/minimum_latency.cpp
Labels: FPGA, 2023.1 New Sample, 2023.1

#1342 FPGA: Fix typo
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/autorun/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/compute_units/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/double_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/io_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/loop_carried_dependency/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/n_way_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/onchip_memory_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/optimize_inner_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/pipe_array/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/triangular_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_fixed/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_int/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/dsp_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/kernel_args_restrict/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_fusion/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/pipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/printf/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/dynamic_profiler/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/system_profiling/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
Labels: FPGA, 2023.1

#1336 Bug fixes for the 2023.1 AI Kit release
  AI-and-Analytics/Features-and-Functionality/IntelPython_Numpy_Numba_dpex_kNN/IntelPython_Numpy_Numba_dpex_kNN.py
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Transformer_AMX_bfloat16_MixedPrecision/IntelTensorFlow_Transformer_AMX_bfloat16_MixedPrecision.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Transformer_AMX_bfloat16_MixedPrecision/README.md
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_Transformer_AMX_bfloat16_MixedPrecision/sample.json
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_PyTorch_GettingStarted/ResNet50_Inference.ipynb
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_PyTorch_GettingStarted/codes_for_ipynb/gpu.patch
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_PyTorch_GettingStarted/codes_for_py/gpu.patch
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_TensorFlow_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/Intel_Extension_For_TensorFlow_GettingStarted/ResNet50_Inference.ipynb
  AI-and-Analytics/version_check.py
Labels: 2023.1, AI

#1262 FPGA: Add `fpga_template` sample
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/src/fpga_template.cpp
Labels: FPGA, 2023.1 New Sample, 2023.1

#1351 FPGA: Reduce the `decompress` test files sizes when running simulation to make the runtime faster
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/gzip/small.gz
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small.ref.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/data/snappy/alice29_small.txt.sz
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/main.cpp
Labels: FPGA, 2023.1

#1359 FPGA: Typo for s10 support in `device_globals`
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1348 Add platform designer tutorial
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/README_2023-0.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-oneapi/src/add.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/.gitignore
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add.qpf
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add.qsf
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add.sdc
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add.sv
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add_kernel_wrapper.qsys
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/add_kernel_wrapper.qsys.legacy
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_add_fpga_ip_export_1_di_0.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_clock_in.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_master_0.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/ip/add_kernel_wrapper/add_kernel_wrapper_reset_in.ip
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/jtag.sdc
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/add-quartus-sln/quartus_sh.log
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/add-files.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/add-ip-platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/complete-system_platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/complete-system_platform-designer_2023-0.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/csr-output-example-simple.svg
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/fix-reset_n-platform-designer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/generate-hdl.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/new-platform-designer-system-button.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/open-platform-designer-button.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/pins-from-design.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/pins-from-ghrd.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/quartus_new_project.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/reset-bridge.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/start-analysis.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/assets/start-compilation-quartus.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/jtag_avmm.tcl
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/load_inputs.tcl
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/read_outputs.tcl
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/experimental/platform_designer/system_console/test.bat
Labels: FPGA, 2023.1 New Sample, 2023.1

#1367 FPGA: prevent an out of bounds memory access in `streaming_qrd.hpp`
  DirectProgramming/C++SYCL_FPGA/include/streaming_qrd.hpp
Labels: FPGA, 2023.1

#1369 FPGA: Move the simple-add and vector-add samples to the IP Authoring flow
  DirectProgramming/C++SYCL/DenseLinearAlgebra/simple-add/README.md
  DirectProgramming/C++SYCL/DenseLinearAlgebra/simple-add/src/CMakeLists.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/vector-add/README.md
  DirectProgramming/C++SYCL/DenseLinearAlgebra/vector-add/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1358 Update onechip memory cache readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/onchip_memory_cache/README.md
Labels: FPGA, 2023.1

#1374 FPGA: Remove Windows simulator command for memory_attributes
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1372 FPGA: replace Agilex™ with Agilex®
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/merge_sort/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qri/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/autorun/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/compute_units/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/double_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/io_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/loop_carried_dependency/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/n_way_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/optimize_inner_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/pipe_array/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/triangular_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_fixed/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_int/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/dsp_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/kernel_args_restrict/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_fusion/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/pipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/printf/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fast_recompile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/dynamic_profiler/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/system_profiling/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
Labels: FPGA, 2023.1

#1373 FPGA: Fix decompress emulation flow not using the correct files
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/main.cpp
Labels: FPGA, 2023.1

#1375 FPGA: Fix race condition in the buffered_host_streaming sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/src/HostStreamer.hpp
Labels: FPGA, 2023.1

#1380 Update FPGA optimize inner loop readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/optimize_inner_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/optimize_inner_loop/assets/timing_2_speculated.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/optimize_inner_loop/assets/timing_base.png
Labels: FPGA, 2023.1

#1382 FPGA: incorrect path update
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/query9/query9_kernel.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/autorun/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/compute_units/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/double_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/io_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/loop_carried_dependency/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/n_way_buffering/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/onchip_memory_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/pipe_array/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/triangular_loop/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_fixed/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_int/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/dsp_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/kernel_args_restrict/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_fusion/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/pipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/printf/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fast_recompile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/dynamic_profiler/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/system_profiling/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/use_library/README.md
Labels: FPGA, 2023.1

#1383 FPGA: Reduce the design size of the memory_attributes design in simulation
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/src/memory_attributes.cpp
Labels: FPGA, 2023.1

#1384 FPGA: Fix inconsistent device flags in 4 samples
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_levels/minimum_latency/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1391 Update Host-Device Streaming using USM readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/kernel-relaunch.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/kernel-rtt.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/multi-kernel-pipeline.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/multi-kernel-producer-consumer-pipeline.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/multi-kernel-producer-consumer.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/multi-kernel.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/assets/single-kernel.png
Labels: FPGA, 2023.1

#1385 Update FPGA pipe array readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/pipe_array/README.md
Labels: FPGA, 2023.1

#1389 Revert "FPGA: Remove Windows simulator command for memory_attributes"
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1392 FPGA: better fix for the concurrency issue in buffered_host_streaming
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/src/HostStreamer.hpp
Labels: FPGA, 2023.1

#1390 FPGA: Reduce test size from 64 to 2 for memory_attributes simulator target
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/src/memory_attributes.cpp
Labels: FPGA, 2023.1

#1381 FPGA: update gzip seed
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/CMakeLists.txt
Labels: FPGA, 2023.1

#1388 FPGA: improve build instructions in the READMEs for samples that require IS_BSP
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/merge_sort/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qri/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/buffered_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/io_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/hostpipes/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/printf/README.md
Labels: FPGA, 2023.1
