Repository oneapi-src/oneAPI-samples, pull requests merged in 2023-05, with the labels that each got.

#1588 AC Int sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/ac_int/README.md
Labels: FPGA, 2023.2

#1600 FPGA device_global sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/device_global/README.md
Labels: FPGA, 2023.2

#1591 FPGA DSP sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/dsp_control/README.md
Labels: FPGA, 2023.2

#1605 FPGA Invocation Interfaces sample readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/invocation_interfaces/sample.json
Labels: FPGA, 2023.2

#1607 FPGA latency control sample readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/README.md
Labels: FPGA, 2023.2

#1610 FPGA Reg Sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/assets/fpga_reg.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/fpga_reg/assets/no_fpga_reg.png
Labels: FPGA, 2023.2

#1615 [FPGA] Fix broken link in LF README
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_fusion/README.md
Labels: FPGA, 2023.2

#1625 FPGA: Update memory_attributes sample to use IS_BSP flag in the sim flow
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/src/CMakeLists.txt
Labels: FPGA, 2023.2

#1619 FPGA Kernel Args Restrict sample readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/kernel_args_restrict/README.md
Labels: FPGA, 2023.2

#1546 QuasirandomGenerator Migrating to SYCL
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/CMakeLists.txt
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/exception.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/helper_cuda.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/helper_cuda.h.yaml
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/helper_functions.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/helper_image.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/helper_string.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Common/helper_timer.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/MainSourceFiles.yaml
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator.cpp.dp.cpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator_common.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator_gold.cpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator_kernel.dp.cpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/include/dpct/device.hpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/include/dpct/dpct.hpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/01_dpct_output/include/dpct/memory.hpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/CMakeLists.txt
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/exception.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/helper_cuda.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/helper_cuda.h.yaml
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/helper_functions.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/helper_image.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/helper_string.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Common/helper_timer.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/MainSourceFiles.yaml
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator.cpp.dp.cpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator_common.h
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator_gold.cpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/Samples/5_Domain_Specific/quasirandomGenerator/quasirandomGenerator_kernel.dp.cpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/include/dpct/device.hpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/include/dpct/dpct.hpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/02_sycl_migrated_optimized/include/dpct/memory.hpp
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/CMakeLists.txt
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/License.txt
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/README.md
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/sample.json
  DirectProgramming/C++SYCL/MapReduce/guided_quasirandomGenerator_SYCLMigration/third-party-programs.txt
Labels: ci-ready, 2023.2

#1628 FPGA: fpga_template updates for 2023.2
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_template/README.md
Labels: FPGA, 2023.2

#1627 FPGA loop fusion readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_fusion/README.md
Labels: FPGA, 2023.2

#1626 FPGA loop coalesce readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_coalesce/README.md
Labels: FPGA, 2023.2

#1632 FPGA loop ivdep sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_ivdep/README.md
Labels: FPGA, 2023.2

#1635 FPGA LSU control sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
Labels: FPGA, 2023.2

#1637 FPGA max_interleaving sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/max_interleaving/README.md
Labels: FPGA, 2023.2

#1544 Remove oneVPL samples
  Libraries/oneVPL/dpcpp-blur/CMakeLists.txt
  Libraries/oneVPL/dpcpp-blur/License.txt
  Libraries/oneVPL/dpcpp-blur/README.md
  Libraries/oneVPL/dpcpp-blur/sample.json
  Libraries/oneVPL/dpcpp-blur/third-party-programs.txt
  Libraries/oneVPL/hello-decode/CMakeLists.txt
  Libraries/oneVPL/hello-decode/License.txt
  Libraries/oneVPL/hello-decode/README.md
  Libraries/oneVPL/hello-decode/sample.json
  Libraries/oneVPL/hello-decode/third-party-programs.txt
  Libraries/oneVPL/hello-encode/CMakeLists.txt
  Libraries/oneVPL/hello-encode/License.txt
  Libraries/oneVPL/hello-encode/README.md
  Libraries/oneVPL/hello-encode/sample.json
  Libraries/oneVPL/hello-encode/third-party-programs.txt
  Libraries/oneVPL/hello-vpp/CMakeLists.txt
  Libraries/oneVPL/hello-vpp/License.txt
  Libraries/oneVPL/hello-vpp/README.md
  Libraries/oneVPL/hello-vpp/sample.json
  Libraries/oneVPL/hello-vpp/third-party-programs.txt
Labels: 2024.0

#1643 FPGA: Fix merge_sort memory allocation in IPA mode
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/merge_sort/src/main.cpp
Labels: FPGA, 2023.2

#1633 FPGA loop unroll sample readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_unroll/README.md
Labels: FPGA, 2023.2

#1547 convolutionSeparable Migrating to SYCL
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/CMakeLists.txt
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/exception.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/helper_cuda.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/helper_cuda.h.yaml
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/helper_functions.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/helper_image.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/helper_string.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Common/helper_timer.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/MainSourceFiles.yaml
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable.dp.cpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable_common.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable_gold.cpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/Samples/2_Concepts_and_Techniques/convolutionSeparable/main.cpp.dp.cpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/include/dpct/device.hpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/include/dpct/dpct.hpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/01_dpct_output/include/dpct/memory.hpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/CMakeLists.txt
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/exception.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/helper_cuda.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/helper_cuda.h.yaml
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/helper_functions.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/helper_image.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/helper_string.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Common/helper_timer.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/MainSourceFiles.yaml
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable.dp.cpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable_common.h
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Samples/2_Concepts_and_Techniques/convolutionSeparable/convolutionSeparable_gold.cpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/Samples/2_Concepts_and_Techniques/convolutionSeparable/main.cpp.dp.cpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/include/dpct/device.hpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpct.hpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/02_sycl_migrated_optimized/include/dpct/memory.hpp
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/CMakeLists.txt
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/License.txt
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/README.md
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/sample.json
  DirectProgramming/C++SYCL/guided_convolutionSeparable_SYCLmigration/third-party-programs.txt
Labels: ci-ready, 2023.2

#1646 FPGA Memory Attributes sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/memory_attributes/README.md
Labels: FPGA, 2023.2

#1647 FPGA optimization targets sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/README.md
Labels: FPGA, 2023.2

#1650 FPGA pipes sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/pipes/README.md
Labels: FPGA, 2023.2

#1651 FPGA printf sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/printf/README.md
Labels: FPGA, 2023.2

#1653 FPGA Private copies sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/private_copies/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/private_copies/sample.json
Labels: FPGA, 2023.2

#1617 FPGA: Add new Pipelined Kernels sample
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/assets/handshaking_block_diagram.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/assets/pipelined_kernels.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/sample.json
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/pipelined_kernels/src/pipelined_kernels.cpp
Labels: FPGA, 2023.2

#1655 FPGA scheduler_target_fmax_mhz sample readme
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/README.md
Labels: FPGA, 2023.2

#1672 FPGA: replace `ulong` with `unsigned long`
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/double_buffering/src/double_buffering.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/n_way_buffering/src/n_way_buffering.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/src/simple_host_streaming.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/triangular_loop/src/triangular_loop.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/read_only_cache/src/read_only_cache.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/system_profiling/src/double_buffering.cpp
Labels: FPGA, 2023.2

#1674 FPGA Fast Recompile readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fast_recompile/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fast_recompile/assets/device_link.png
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fast_recompile/assets/normal_compile.png
Labels: FPGA, 2023.2

#1658 FPGA use_stall_enable_clusters sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/stall_enable/README.md
Labels: FPGA, 2023.2

#1656 FPGA Speculated Iterations sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/README.md
Labels: FPGA, 2023.2

#1685 FPGA Compile sample readme update
  DirectProgramming/C++SYCL_FPGA/Tutorials/GettingStarted/fpga_compile/README.md
Labels: FPGA, 2023.2

#1693 Update S10 seed for CRR
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/CMakeLists.txt
Labels: FPGA, 2023.2
