Repository oneapi-src/oneAPI-samples, pull requests merged in 2024-06, with the labels that each got.

#2355 FPGA: pull the `fft2d` sample out of 2024.2
  DirectProgramming/C++SYCL_FPGA/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/sample.json
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/fft2d_demo.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/fft2d/src/twiddle_factors.hpp
Labels: FPGA, 2024.2

#2356 FPGA: Remove detail::empty_properties_t and add std::log10
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/src/main.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/annotated_class_clean_coding/src/annotated_class_util.hpp
Labels: FPGA, 2024.2

#2344 FPGA: Update README for code samples that are affected by crash
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/mvdr_beamforming/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qri/README.md
Labels: FPGA, 2024.2

#2260 Shuffle scan migration
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Common/exception.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Common/helper_cuda.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Common/helper_functions.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Common/helper_image.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Common/helper_string.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Common/helper_timer.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Sample/shfl_integral_image.dp.hpp
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/01_dpct_output/Sample/shfl_scan.dp.cpp
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/CMakeLists.txt
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Common/exception.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Common/helper_cuda.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Common/helper_functions.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Common/helper_image.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Common/helper_string.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Common/helper_timer.h
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/Sample/shfl_scan_migrated.cpp
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/02_sycl_migrated/include/shfl_integral_image_migrated.hpp
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/CMakeLists.txt
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/License.txt
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/README.md
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/sample.json
  DirectProgramming/C++SYCL/guided_shlf_scan_SYCLMigrated/third-party-programs.txt
Labels: 2024.2, 2024.2 New Sample

#2359 FPGA: Update invocation interfaces document
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/hls_flow_interfaces/invocation_interfaces/README.md
Labels: FPGA, 2024.2

#2358 FPGA: add caveat for running the `build_system.tcl` script in the `platform_designer` code sample
  DirectProgramming/C++SYCL_FPGA/Tutorials/Tools/platform_designer/README.md
Labels: FPGA, 2024.2

#2361 FPGA: Worked around runtime bug with event dependences between invocations of the same kernel
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/gzipkernel_ll.cpp
Labels: FPGA, 2024.2

#2364 FPGA: fix namespaces for `host_ptr` and `device_ptr`
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/usm_speed.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky/src/cholesky.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky_inversion/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/common/common.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/gzip/gzip_metadata_reader.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/src/snappy/snappy_reader.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/gzipkernel_ll.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qri/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/explicit_data_movement/src/explicit_data_movement.cpp
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/src/zero_copy_kernel.hpp
Labels: FPGA, 2025.0

#2296 Genetic Algorithms on GPU using Intel Distribution of Python numba-dpex code sample
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/IntelPython_GPU_numba-dpex_Genetic_Algorithm.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/IntelPython_GPU_numba-dpex_Genetic_Algorithm.py
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/License.txt
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/README.md
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/assets/crossover.png
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/assets/mutation.png
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/assets/selection.png
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/requirements.txt
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelPython_GPU_numba-dpex_Genetic_Algorithm/third-party-programs.txt
Labels: 2024.2, 2024.2 New Sample

#2314 New ITREX Code Sample
  AI-and-Analytics/Features-and-Functionality/IntelTransformers_Quantization/README.md
  AI-and-Analytics/Features-and-Functionality/IntelTransformers_Quantization/quantize_transformer_models_with_itrex.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelTransformers_Quantization/quantize_transformer_models_with_itrex.py
  AI-and-Analytics/Features-and-Functionality/IntelTransformers_Quantization/requirements.txt
  AI-and-Analytics/Features-and-Functionality/IntelTransformers_Quantization/sample.json
  AI-and-Analytics/Features-and-Functionality/IntelTransformers_Quantization/utils.py
Labels: 2024.2, 2024.2 New Sample

#2370 FPGA: Revert "Remove fpga_register annotations from fifo_sort"
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/src/db_utils/fifo_sort.hpp
Labels: FPGA, 2025.0
