Repository oneapi-src/oneAPI-samples, pull requests merged in 2024-10, with the labels that each got.

#2524 FPGA: Fix II error and update namespace for device_ptr
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/svd/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/svd/src/svd.hpp
Labels: FPGA, 2025.1

#2526 FPGA: Fix typo in SVD code sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/svd/src/svd.hpp
Labels: FPGA, 2025.1

#2525 FPGA: Fix II error and update namespace for device_ptr
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/svd/src/memory_transfers.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/svd/src/svd.hpp
Labels: FPGA, 2025.0

#2532 FPGA: Add information about `DEVICE_FLAG` in relevant samples READMEs
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/anr/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/cholesky_inversion/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/db/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/decompress/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/matmul/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qrd/README.md
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/qri/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/shannonization/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/simple_host_streaming/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/DesignPatterns/zero_copy_data_transfer/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/experimental/latency_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/loop_initiation_interval/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/lsu_control/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/mem_channel/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/optimization_targets/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/scheduler_target_fmax/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/speculated_iterations/README.md
Labels: FPGA, 2025.1

#2507 Jax getting started
  AI-and-Analytics/Getting-Started-Samples/IntelJAX_GettingStarted/.gitkeep
  AI-and-Analytics/Getting-Started-Samples/IntelJAX_GettingStarted/License.txt
  AI-and-Analytics/Getting-Started-Samples/IntelJAX_GettingStarted/README.md
  AI-and-Analytics/Getting-Started-Samples/IntelJAX_GettingStarted/run.sh
  AI-and-Analytics/Getting-Started-Samples/IntelJAX_GettingStarted/sample.json
  AI-and-Analytics/Getting-Started-Samples/IntelJAX_GettingStarted/third-party-programs.txt
Labels: AI, 2025.0, 2025.0 New Sample

#2522 Address Sanitizer Sample
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/CMakeLists.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/License.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/README.md
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/sample.json
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/CMakeLists.txt
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/array_reduction.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/bad_free.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/device_global.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/group_local.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/local_stencil.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/map.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/matmul_broadcast.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/misalign-long.cpp
  DirectProgramming/C++SYCL/DenseLinearAlgebra/address_sanitizer/src/nd_range_reduction.cpp
Labels: 2025.0 New Sample

#2504 New code sample: Job Recommendation System - end-to-end workload
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/JobRecommendationSystem.ipynb
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/JobRecommendationSystem.py
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/License.txt
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/README.md
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/requirements.txt
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/sample.json
  AI-and-Analytics/End-to-end-Workloads/JobRecommendationSystem/third-party-programs.txt
Labels: AI, 2025.0, 2025.0 New Sample
