Repository oneapi-src/oneAPI-samples, pull requests merged in 2024-02, with the labels that each got.

#2168 FPGA: constrain while(1) loops in the convolution2d sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/convolution2d/src/convolution_kernel.hpp
Labels: FPGA, 2024.2

#2183 FPGA: Stop using variable length arrays in FPGA samples
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/board_test.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/host_speed.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/gzip.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/pca/src/golden_pca.hpp
Labels: FPGA, 2024.1

#2185 FPGA: update `streaming_data_interfaces` to use correct type
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/hls_flow_interfaces/streaming_data_interfaces/README.md
  DirectProgramming/C++SYCL_FPGA/Tutorials/Features/hls_flow_interfaces/streaming_data_interfaces/src/streaming_data_interfaces.cpp
Labels: FPGA, 2024.1

#2004 feat: Add Text Generation with Itex LSTM sample
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_TextGeneration_with_LSTM/License.txt
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_TextGeneration_with_LSTM/README.md
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_TextGeneration_with_LSTM/TextGenerationModelTraining.ipynb
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_TextGeneration_with_LSTM/TextGenerationModelTraining.py
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_TextGeneration_with_LSTM/requirements.txt
  AI-and-Analytics/Features-and-Functionality/IntelTensorFlow_TextGeneration_with_LSTM/sample.json
Labels: ci-ready, 2024.1

#2176 Add a new sample: american options
  Libraries/oneMKL/guided_american_options_SYCLmigration/01_dpct_output/CMakeLists.txt
  Libraries/oneMKL/guided_american_options_SYCLmigration/01_dpct_output/MainSourceFiles.yaml
  Libraries/oneMKL/guided_american_options_SYCLmigration/01_dpct_output/longstaff_schwartz_svd_2.dp.cpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/CMakeLists.txt
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/MainSourceFiles.yaml
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/atomic.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/blas_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/ccl_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/device.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dnnl_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpct.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/algorithm.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/dpcpp_extensions.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/functional.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/iterators.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/memory.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/numeric.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_extras/vector.h
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/dpl_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/fft_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/image.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/kernel.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/lapack_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/lib_common_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/math.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/memory.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/rng_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/sparse_utils.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/include/dpct/util.hpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/02_sycl_migrated_optimized/longstaff_schwartz_svd_2.dp.cpp
  Libraries/oneMKL/guided_american_options_SYCLmigration/CMakeLists.txt
  Libraries/oneMKL/guided_american_options_SYCLmigration/License.txt
  Libraries/oneMKL/guided_american_options_SYCLmigration/README.md
  Libraries/oneMKL/guided_american_options_SYCLmigration/sample.json
  Libraries/oneMKL/guided_american_options_SYCLmigration/src/longstaff_schwartz_svd_2.cu
  Libraries/oneMKL/guided_american_options_SYCLmigration/third-party-programs.txt
Labels: ci-ready, 2024.1

#2192 FPGA: Add simulator target for the CRR sample
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/CMakeLists.txt
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/data/small_ordered_inputs.csv
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/crr/src/main.cpp
Labels: FPGA, 2024.1

#2194 FPGA: reduce use of mallocs
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/board_test/src/board_test.hpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/gzip.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/gzipkernel.cpp
  DirectProgramming/C++SYCL_FPGA/ReferenceDesigns/gzip/src/gzipkernel.hpp
Labels: FPGA, 2024.1
