Repository oneapi-src/oneAPI-samples, changes with the owners that CODEOWNERS names for each.
All owners: @JoeOster, @pmpeter1, @tomlenth, @moushumi-maria,, @praveenkk123, @Propanu, @mav-intel, @pfische1, @mkitez

updated VS project file
  DirectProgramming/DPC++/DenseLinearAlgebra/complex_mult/complex_mult.vcxproj
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

Updated VS project file (#44)
  DirectProgramming/DPC++/DenseLinearAlgebra/complex_mult/complex_mult.vcxproj
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

updated Makefile Makefile.fpga Makefile.win Makefile.win.fpga clean command
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/Makefile.fpga
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/Makefile.win
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/Makefile.win.fpga
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

Moved to directory structure
  DirectProgramming/Fortran/CombinationalLogic/openmp_samples/License.txt
  DirectProgramming/Fortran/CombinationalLogic/openmp_samples/Makefile
  DirectProgramming/Fortran/CombinationalLogic/openmp_samples/README.md
  DirectProgramming/Fortran/CombinationalLogic/openmp_samples/sample.json
  DirectProgramming/Fortran/CombinationalLogic/openmp_samples/src/openmp_sample.f90
  DirectProgramming/Fortran/DenseLinearAlgebra/optimize_samples/License.txt
  DirectProgramming/Fortran/DenseLinearAlgebra/optimize_samples/Makefile
  DirectProgramming/Fortran/DenseLinearAlgebra/optimize_samples/README.md
  DirectProgramming/Fortran/DenseLinearAlgebra/optimize_samples/sample.json
  DirectProgramming/Fortran/DenseLinearAlgebra/optimize_samples/src/int_sin.f90
  DirectProgramming/Fortran/DenseLinearAlgebra/vec_samples/License.txt
  DirectProgramming/Fortran/DenseLinearAlgebra/vec_samples/Makefile
  DirectProgramming/Fortran/DenseLinearAlgebra/vec_samples/README.md
  DirectProgramming/Fortran/DenseLinearAlgebra/vec_samples/sample.json
  DirectProgramming/Fortran/DenseLinearAlgebra/vec_samples/src/driver.f90
  DirectProgramming/Fortran/DenseLinearAlgebra/vec_samples/src/matvec.f90
Owners: @JoeOster, @pmpeter1, @Propanu, @pfische1, @mkitez

namespace identifiers
  DirectProgramming/DPC++/MapReduce/MonteCarloPi/src/monte_carlo_pi.cpp
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

updated .vcxproj WindowSDK with WindowsSDKVersion.Replace
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/vector-add-buffers.vcxproj
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/vector-add-usm.vcxproj
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

Add the common includes directory to VS project file
  DirectProgramming/DPC++/StructuredGrids/particle-diffusion/Particle_Diffusion.vcxproj
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

removed dpc_common.hpp dependency, updated linux makefiles to remove … (#43)
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/Makefile
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/Makefile.win
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/Makefile.win.fpga
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/src/dpc_common.hpp
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/src/vector-add-buffers.cpp
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/src/vector-add-usm.cpp
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/vector-add-buffers.vcxproj
  DirectProgramming/DPC++/DenseLinearAlgebra/vector-add/vector-add-usm.vcxproj
Owners: @JoeOster, @moushumi-maria,, @pmpeter1

sample.json: update supported os list for hello IoT world and ISD tutorial
  Tools/IoTConnectionTools/hello-iot-world/sample.json
  Tools/SystemDebug/system_debug_sample/sample.json
Owners: @pfische1, @mkitez

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
*       @JoeOster @pmpeter1 @tomlenth

# This owner owns any files in the given
# directory at the root of the repository and any of its
# subdirectories.
/DirectProgramming/DPC++/ @JoeOster @moushumi-maria, @pmpeter1
/DirectProgramming/Jupyter/ @JoeOster @praveenkk123
/DirectProgramming/C++/ @JoeOster @pmpeter1 @Propanu
/DirectProgramming/Fortran/ @JoeOster @pmpeter1 @Propanu
/Tools/ @JoeOster @Propanu
/Libraries/ @JoeOster @Propanu @mav-intel @JoeOster

# Reviwers for all sample.json modification 
*sample.json @pfische1 @mkitez

# Reviewer for all readme files
*/README.md @tomlenth
